<div class="card my-2">
  <div class="card-header">{{{header}}}</div>
  <div class="card-body">
    <p>{{{prompt}}}</p>
    <pl-number-input
      answers-name="{{answers-name}}"
      label="{{{label}}}"
      suffix="{{suffix}}"
    ></pl-number-input>
  </div>
</div>
